In [1]:
import pandas as pd

dic = {
    'col1':['black', 'white', 'pink', 'black', 'white'],
    'col2':['car', 'bus', 'taxi', 'taxi', 'car'],
}

df = pd.DataFrame(dic)

df

    col1  col2
0  black   car
1  white   bus
2   pink  taxi
3  black  taxi
4  white   car

In [2]:
from sklearn.preprocessing import LabelEncoder

lbl_enc = LabelEncoder()

In [3]:
df['col1_encoder'] = lbl_enc.fit_transform(df['col1'])

df

    col1  col2  col1_encoder
0  black   car             0
1  white   bus             2
2   pink  taxi             1
3  black  taxi             0
4  white   car             2

In [4]:
lbl_enc.classes_

array(['black', 'pink', 'white'], dtype=object)

In [9]:
lbl_lst = dict()

for num, lbl in enumerate(lbl_enc.classes_):
    lbl_lst[lbl]=num

lbl_lst

{'black': 0, 'pink': 1, 'white': 2}

In [10]:
lbl_lst['black']

0

In [11]:
dict_list = ['profile_lbl', 'quali_1_lbl', 'quali_2_lbl', 'quali_3_lbl', 'state_lbl', 'city_lbl']

In [17]:
df['col2_enc'] = lbl_enc.fit_transform(df['col2'])

In [18]:
df

    col1  col2  col1_encoder  col2_enc
0  black   car             0         1
1  white   bus             2         0
2   pink  taxi             1         2
3  black  taxi             0         2
4  white   car             2         1

In [19]:
lbl_enc.classes_

array(['bus', 'car', 'taxi'], dtype=object)